name: Pre-release

on:
  workflow_dispatch:
    inputs:
      preid:
        type: choice
        description: Pre ID
        required: true
        options:
          - alpha
          - beta
          - rc

jobs:
  quality-assurance:
    if: startsWith(github.ref, 'refs/heads/release')
    uses: ./.github/workflows/quality-assurance.yml
  pre-release:
    if: startsWith(github.ref, 'refs/heads/release')
    runs-on: ubuntu-latest
    needs: quality-assurance
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: nrwl/nx-set-shas@v3
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'yarn'
          registry-url: 'https://registry.npmjs.org'
          always-auth: true
      - name: Cache node modules
        id: cache-nodemodules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Setup Git
        run: |
          git config user.name "GitHub Bot"
          git config user.email "bramzijpcode@gmail.com"

      - run: yarn --frozen-lockfile

      - name: Version
        run: yarn nx affected --target=versionCI --releaseAs=prerelease --preid=${{ github.event.inputs.preid }} --parallel 1 --nx-bail
      - name: Push changes
        run: git push origin HEAD --follow-tags
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish changes
        run: yarn nx affected --target=publishCI --parallel 1
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
