{
  "presets": [
    [
      "@nrwl/web/babel",
      {
        "targets": {
          "browsers": [
            "> 1%",
            "not IE <= 11",
            "not EDGE <= 18",
            "not dead",
            "not op_mini all"
          ]
        }
      }
    ]
  ]
}
